:root {
    --background-colour: #fff;
    --header-colour: #000;
    --dark-font-colour: #000;
    --light-font-colour: #fff;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--background-colour);
    color: var(--dark-font-colour);
    margin: auto;
    font-family: 'Lexend Deca', "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

h1 {
    font-size: 85px;
    font-weight: 100;
    line-height: 1;
    margin: 0px;
}

#popup {
    visibility: collapse;
    display: flex;
    padding-top: 5%; 
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--header-colour);
    color: var(--light-font-colour);
    padding-top: 10px;
    padding-bottom: 10px;
}

.ics-table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ics-row {
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
}

.flag img {
    max-width: 100%;
    max-height: 100%;
}

.flag {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-top: 2px; 
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
