:root {
    --background-colour: #FFF;
    --header-colour: #1F363D;
    --dark-font-colour: #070C0E;
    --light-font-colour: #FFF;
}

body {
    background-color: var(--background-colour);
    color: var(--dark-font-colour);
    margin: auto;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 0.8em;
    line-height: 1.4;
}

h1 {
    font-size: 5.8em;
    font-weight: 100;
    line-height: 1;
    margin: 0px;
    text-align: center;
}

@media screen and (width >= 900px) {
    body {
        font-size: 1.4em;
    }
    h1 {
        font-size: 8em;
    }
}

img {
    max-width: 100%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--header-colour);
    color: var(--light-font-colour);
    padding-top: 10px;
    padding-bottom: 10px;
}

.ics-row {
    display: flex;
}

.ics-row .flag {
    padding: 2px;
    max-width: 25%;
}

.flag {
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.oneFlag {
    height: 100vh;
    justify-content: center;
    background-color: var(--header-colour);
    color: var(--light-font-colour);
}

.oneFlag img {
    max-height: 90vh;
}