:root {
    --background-colour: #FFF;
    --header-colour: #1F363D;
    --dark-font-colour: #070C0E;
    --light-font-colour: #FFF;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--background-colour);
    color: var(--dark-font-colour);
    margin: auto;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

h1 {
    font-size: 85px;
    font-weight: 100;
    line-height: 1;
    margin: 0px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--header-colour);
    color: var(--light-font-colour);
    padding-top: 10px;
    padding-bottom: 10px;
}

.ics-table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ics-row {
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
}

.ics-row .flag {
    padding: 2px;
}

.flag img {
    max-width: 100%;
}

.flag {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.oneFlag {
    height: 100vh;
    justify-content: center;
    background-color: var(--header-colour);
    color: var(--light-font-colour);
}
